<div class="p-5 flex flex-column gap-5">
  <h1>Grid Craft</h1>

  <div class="flex flex-column gap-5">
    @for (column of gridInput.columns; track $index) {
      <div class="flex flex-column gap-2">
        <strong># Column {{ $index + 1 }}</strong>

        <div class="flex flex-wrap gap-2">
          <p-floatlabel variant="in">
            <input
              pInputText
              [id]="'column_name' + $index"
              [(ngModel)]="column.name"
            />
            <label [for]="'column_name' + $index">Name</label>
          </p-floatlabel>

          <div class="flex-grow-1">
            <p-floatlabel variant="in">
              <input
                pInputText
                class="w-full"
                [id]="'column_expression' + $index"
                [(ngModel)]="column.expression"
              />
              <label [for]="'column_expression' + $index">Expression</label>
            </p-floatlabel>
          </div>
        </div>
      </div>
    }
  </div>
</div>
